<% content_for(:html_title) { 'Public Content' } %>

<h1>Public Content</h1>
<p>Find me in app/views/home/index.html.erb <br />>Anyone who navigates to this page can see this content. It is public!</p>
